---
import Button from "./Button.tsx"
---

<p>Practice</p>
<Button  href="/typing/settings/">タイピング練習</Button>
<Button  href="/listening/settings/">リスニング練習</Button>

<p>PvP</p>
<Button >ローカル対戦</Button>
<Button >オンライン対戦</Button>