---
import Setting from '../../components/settings/DefaultSettings.tsx';
import Layout from '../../layouts/Layout.astro';
import Button from '../../components/Button.tsx';
---

<Layout>
	//  正しい呼び出し方
	<Setting count={10} client:load>
	<span>現在のカウント</span>
	</Setting>

	<Button href="/typing/game">game start</Button>
</Layout>
